<server description="new server">

    <featureManager>
        <feature>microProfile-5.0</feature>
        <!--Used solely for testing-->
        <feature>localConnector-1.0</feature>
        <feature>servlet-5.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" />
    <webApplication location="${project.name}.war">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
</server>
