name: Test

on:
  pull_request:
    branches:
      - master
      - main
      - 2.[0-9]+

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17, 21 ]
    name: Java ${{ matrix.java }} Test
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          cache: 'maven'
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - run: |
          ./mvnw -ntp -B clean install -DskipTests
          ./mvnw -ntp -B verify
          ./mvnw -ntp -B javadoc:javadoc
